<h1>Listing users</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Password</th>
    <th>Name</th>
    <th>Twitter</th>
    <th>Birthday</th>
    <th>Blog url</th>
    <th>Website url</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.email %></td>
    <td><%=h user.password %></td>
    <td><%=h user.name %></td>
    <td><%=h user.twitter_id %></td>
    <td><%=h user.birthday %></td>
    <td><%=h user.blog_url %></td>
    <td><%=h user.website_url %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>