<h3>ユーザ登録</h3>

<% form_for :user, :url => { :controller => "users", :action => "create" } do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :login_id, "ログインID" %><br />
    <%= @user.login_id %>
    <%= f.hidden_field :login_id, :value => @user.login_id %>
  </p>

  <p>
    <%= f.label :password, "パスワード" %><br />
    <%= @user.password %>
    <%= f.hidden_field :password, :value => @user.password %>
  </p>

  <p>
    <%= f.submit '登録' %>
  </p>
<% end # form_for do - END %>

<%= link_to 'Top', "" %>