
<% form_for :user, :url => { :action => :update_password, :id => @user.id } do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :password, "現在のパスワード" %>：<%= f.password_field :password, :class => "text_field" %>
  </p>

  <p>
    <%= f.label :edit_password, "変更するパスワード" %>：<%= f.password_field :edit_password, :class => "text_field" %>
  </p>

  <p>
    <%= f.label :password_confirmation, "変更するパスワード(再入力)" %>：<%= f.password_field :password_confirmation, :class => "text_field" %>
  </p>
		
  <p>
    <%= f.submit '変更', :disable_with => "変更..." %>
  </p>
<% end %>

<br />

<span class="menu show"><%= link_to $link_name[:show], { :action => :show, :id => @user.id } %></span>
