
<% form_for :user, :url => { :action => :update, :id => @user.id } do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :login_id, "ログインID" %>：<%= f.text_field :login_id, :class => "text_field" %>
  </p>

  <p>
    <%= f.label :twitter_id, "Twitter ID" %>：<%= f.text_field :twitter_id, :class => "text_field" %>
  </p>

  <p>
    <%= f.label :password, "現在のパスワード" %>：<%= f.password_field :password, :class => "text_field" %>
  </p>

	<%= link_to( "パスワード変更", { :action => :edit_password, :id => @user.id }, { :target => "_self" } ) %>



<% if false %>
  <p>
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :name, "ユーザ名" %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :birthday, "生年月日" %><br />
    <%= f.date_select :birthday %>
  </p>

  <p>
    <%= f.label :blog_url, "ブログ URL" %><br />
    <%= f.text_field :blog_url %>
  </p>

  <p>
    <%= f.label :website_url, "Webサイト URL" %><br />
    <%= f.text_field :website_url %>
  </p>
<% end %>



  <p>
    <%= f.submit '保存', :disable_with => "保存中..." %>
  </p>

<% end %>

<br />

<span class="menu show"><%= link_to $link_name[:show], { :action => :show, :id => @user.id } %></span>
