
<p>
  <b>メールアドレス：</b>
  <%=h @user.email %>
</p>

<p>
  <b>パスワード：</b>
  <%=h @user.password %>
</p>

<p>
  <b>ユーザ名：</b>
  <%=h @user.name %>
</p>

<p>
  <b>Twitter ID：</b>
  <%=h @user.twitter_id %>
</p>

<p>
  <b>生年月日：</b>
  <%=h @user.birthday %>
</p>

<p>
  <b>ブログURL：</b>
  <%=h @user.blog_url %>
</p>

<p>
  <b>Webサイト URL：</b>
  <%=h @user.website_url %>
</p>

<span class="menu edit"><%= link_to '編集', "/users/edit/#{@user.id}" %></span>
