<span class="menu list"><%= link_to $link_name[:list], { :action => :list, :category => @category } %></span><br />

<br />

<span class="menu_title"><%=h @memo.title %></span><br />

<br />

<a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= request.url %>" data-text="「<%=h @memo.title %>」 Aries - #clowns_rondo" data-count="horizontal" data-via="clowns_rondo" data-related="shu_0115:Developer" data-lang="ja">Tweet</a><script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>
<iframe src="http://www.facebook.com/plugins/like.php?href=<%= request.url %>&amp;layout=button_count&amp;show_faces=true&amp;width=450&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;" allowTransparency="true"></iframe>

<pre class="pre_style"><%=h @memo.note %></pre>

<span class="menu list"><%= link_to $link_name[:list], { :action => :list, :category => @category } %></span>
