<span id="menu_title">一覧</span><br />

<br />

<%# カテゴリ %>
<%= link_to 'ALL', "/memos/index" %>
<% @categorys.each{ |category| %>　<%= link_to category[:category], "/memos/index/#{category[:category]}" %><% } %><br />

<br />

<%= link_to $link[:new], "/memos/new/#{@category}" %><br />

<br />

<table>
  <tr>
    <th>カテゴリ</th>
    <th>タイトル</th>
    <th>モード</th>
  </tr>

<% @all_memos.each do |memo| %>
  <tr>
    <td>[<%= link_to memo.category, "/memos/index/#{memo.category}" %>]</td>
    
    <td><%=h memo.title %></td>
    <td><%=h memo.mode %></td>

    <td class="menu"><%= link_to $link[:show], "/memos/show/#{memo.id}/#{@category}", :title => memo.note %></td>
    <td class="menu"><%= link_to $link[:edit], "/memos/edit/#{memo.id}/#{@category}" %></td>
    <td class="menu delete"><%= link_to $link[:delete], "/memos/destroy/#{memo.id}/#{@category}", :confirm => '本当に削除してよろしいですか？' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to $link[:new], "/memos/new/#{@category}" %>