<span id="menu_title">編集</span><br />

<br />

<%= link_to '閲覧', "/memos/show/#{@memo.id}" %>
 | <%= link_to '一覧', '/memos/index' %>

<% form_for :memo, :url => "/memos/update/#{@memo.id}" do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :category, 'カテゴリ' %><br />
    <% @categorys.each{ |category| %><%= link_to_remote( category[:category], :update => "memo_category_set", :url => { :action => :memo_category, :category => category[:category] } ) %>　<% } %><br />
    <span id="memo_category_set"><%= f.text_field :category %></span><br />
  </p>

  <p>
    <%= f.label :title, 'タイトル' %><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :note, 'テキスト' %><br />
    <%= f.text_area :note, :cols => "100", :rows => "30" %>
  </p>

  <p>
    <%= f.label :mode, 'モード' %>：
    <%= select( :memo, :mode, Memo.mode_choices, :mode => @memo.mode ) %>
  </p>

  <p>
    <%= f.label :level, 'レベル' %>：
    <%= select( :memo, :level, Memo.level_choices, :level => @memo.level ) %>
  </p>

  <p>
    <%= f.submit '保存', :disable_with => "保存中..." %>
  </p>
<% end %>

<%= link_to '閲覧', "/memos/show/#{@memo.id}" %>
 | <%= link_to '一覧', '/memos/index' %>
