
<span class="menu list"><%= link_to $link[:list], { :action => "list", :id => @category } %></span>
<% unless @memo.blank? %>
　<span class="menu show"><%= link_to $link[:show], { :action => "show", :id => @memo.id, :option => @category } %></span><br />

<br />

<% form_for :memo, :url => "/memos/update/#{@memo.id}/#{@category}" do |f| %>
  <%= f.error_messages %>

  <%= f.label :category, 'カテゴリ' %><br />
	<div class="radius_border">
	<table><tr><td>
    <% @categorys.each_with_index{ |category, index| %><%= link_to_remote( category[:category], :update => "memo_category_set", :url => { :action => :memo_category, :category => category[:category] } ) %>　<wbr /><% } %><br />
	</td></tr></table>
	</div>
  <br />
  <br />
  <span id="memo_category_set"><%= f.text_field :category %></span><br />

	<br />

  <%= f.label :title, 'タイトル' %><br />
  <%= f.text_field :title, :class => "memo_title_field" %><br />

	<br />

  <%= f.label :mode, 'モード' %>：<br />
  <%= f.radio_button :mode, "public", :checked => Memo.mode_public?( @memo.mode ) %><label for="memo_mode_public">公開</label>
  <%= f.radio_button :mode, "private", :checked => Memo.mode_private?( @memo.mode ) %><label for="memo_mode_private">非公開</label>
	<br />

	<br />

  <%= f.label :note, 'テキスト' %><br />
  <%= f.text_area :note %><br />

	<br />

  <%= f.submit '保存', :disable_with => "保存中..." %><br />
<% end %>

<br />

<span class="menu list"><%= link_to $link[:list], { :action => "list", :id => @category } %></span>
　<span class="menu show"><%= link_to $link[:show], { :action => "show", :id => @memo.id, :option => @category } %></span>
<% end %>
