
<%# リンク %>
<span class="menu list"><%= link_to $link_name[:list], { :action => "list", :category => @category, :sub_category => @sub_category, :search_flag => params[:search_flag], :search_word => params[:search_word], :search_type => params[:search_type] } %></span>
<% unless @memo.blank? %>
　<span class="menu show"><%= link_to $link_name[:show], { :action => "show", :id => @memo.id, :category => @category, :sub_category => @sub_category, :search_flag => params[:search_flag], :search_word => params[:search_word], :search_type => params[:search_type] } %></span><br />

<br />

<%# 編集 %>
<% form_for :memo, :url => { :action => "update", :id => @memo.id, :category => @category, :sub_category => @sub_category, :search_flag => params[:search_flag], :search_word => params[:search_word], :search_type => params[:search_type] } do |f| %>
  <%= f.error_messages %>

  <%# カテゴリ %>
  <%= f.label :category, 'カテゴリ' %><br />
	<div class="radius_border">
	<table><tr><td>
    <% @categorys.each_with_index{ |category, index| %><%= link_to_remote( category[:category], :update => "memo_category_set", :url => { :action => :memo_category, :category => category[:category] } ) %>　<wbr /><% } %><br />
	</td></tr></table>
	</div>
  <br />
  <br />
  <span id="memo_category_set"><%= f.text_field :category %></span><br />

	<br />

  <%# サブカテゴリ %>
  <%= f.label :sub_category, 'サブカテゴリ' %><br />
  <div class="radius_border">
  <table><tr><td>
    <% @sub_categorys.each_with_index{ |sub_category, index| %><%= link_to_remote( sub_category[:sub_category], :update => "memo_sub_category_set", :url => { :action => :memo_sub_category, :sub_category => sub_category[:sub_category] } ) %>　<wbr /><% } %><br />
  </td></tr></table>
  </div>
  <br />
  <br />
  <span id="memo_sub_category_set"><%= f.text_field :sub_category, :value => @sub_category %></span><br />
  
  <br />

  <%# タイトル %>
  <%= f.label :title, 'タイトル' %><br />
  <%= f.text_field :title, :class => "memo_title_field" %><br />

	<br />

  <%# モード %>
  <%= f.label :mode, 'モード' %>：<br />
  <%= f.radio_button :mode, "public", :checked => Memo.mode_public?( @memo.mode ) %><label for="memo_mode_public">公開</label>
  <%= f.radio_button :mode, "private", :checked => Memo.mode_private?( @memo.mode ) %><label for="memo_mode_private">非公開</label>
	<br />

	<br />

  <%# テキスト %>
  <%= f.label :note, 'テキスト' %><br />
  <%= f.text_area :note %><br />

	<br />

  <%# 保存ボタン %>
  <%= f.submit '保存', :disable_with => "保存中..." %><br />
<% end %>

<br />

<%# リンク %>
<span class="menu list"><%= link_to $link_name[:list], { :action => "list", :category => @category, :sub_category => @sub_category, :search_flag => params[:search_flag], :search_word => params[:search_word], :search_type => params[:search_type] } %></span>
　<span class="menu show"><%= link_to $link_name[:show], { :action => "show", :id => @memo.id, :category => @category, :sub_category => @sub_category, :search_flag => params[:search_flag], :search_word => params[:search_word], :search_type => params[:search_type] } %></span>
<% end %>
