<h3>メモ一覧</h3>

<p>
<%= link_to 'ALL', "/memos/index/none" %>
<% @categorys.each{ |category| %>　<%= link_to category[:category], "/memos/index/0/#{category[:category]}" %><% } %>
</p>

<table>
  <tr>
    <th>カテゴリ</th>
    <th>タイトル</th>
    <!--<th>テキスト</th>-->
    <th>モード</th>
    <!--<th>レベル</th>-->
  </tr>

<% @all_memos.each do |memo| %>
  <tr>
    <td>[<%= link_to memo.category, "/memos/index/0/#{memo.category}" %>]</td>
    
    <td><%=h memo.title %></td>
    <!--<td><%=h memo.note %></td>-->
    <td><%=h memo.mode %></td>
    <!--<td><%=h memo.level %></td>-->

    <td class="menu"><%= link_to '閲覧', "/memos/show/#{memo.id}" %></td>
    <td class="menu"><%= link_to '編集', "/memos/edit/#{memo.id}" %></td>
    <td class="menu"><%= link_to '削除', "/memos/destroy/#{memo.id}", :confirm => '本当に削除してよろしいですか？' %></td>
  </tr>
<% end %>
</table>


<br />

<%= link_to '新規作成', '/memos/new' %>