
<%# カテゴリリスト %>
<% unless @categorys.blank? %>
<div class="radius_border category">
<table>
  <tr>
    <td>
    <% @categorys.each_with_index{ |category, index| %>
      <% if category[:category].to_s == @category.to_s %>
        <span class="active_link"><%= link_to category[:category], { :action => "list", :category => category[:category] } -%></span>
      <% else %>
        <%= link_to category[:category], { :action => "list", :category => category[:category] } -%>
      <% end %>
      <wbr />
    <% } %>
    <br />
    </td>
  </tr>
</table>
</div>

<br />
<br />
<% end %>

<%# サブカテゴリリスト %>
<% unless @sub_categorys.blank? %>
<div class="radius_border category">
<table>
  <tr>
    <td>
    <% @sub_categorys.each_with_index{ |sub_category, index| %>
      <% if sub_category[:sub_category].to_s == @sub_category.to_s %>
        <span class="active_link"><%= link_to sub_category[:sub_category], { :action => "list", :category => @category, :sub_category => sub_category[:sub_category] } %></span>
      <% else %>
        <%= link_to sub_category[:sub_category], { :action => "list", :category => @category, :sub_category => sub_category[:sub_category] } %>
      <% end %>
      <wbr />
    <% } %>
    <br />
    </td>
  </tr>
</table>
</div>

<br />
<br />
<% end %>

<%# 検索 %>
<%= render :partial =>'search_area' %>

<br />
<br />

<%# NEW %>
<span id="link_target" class="menu new"><%= link_to $link_name[:new], { :action => "new", :category => @category, :sub_category => @sub_category } %></span><br />

<br />

<%# ページング %>
<% if !@all_memos.blank? and @all_memos.total_pages > 1 %>
<%= will_paginate @all_memos, :prev_label => 'Prev', :next_label => 'Next', :params => { :search_flag => params[:search_flag], :search_word => params[:search_word], :search_type => params[:search_type] } %><br />
<br />
<% end %>

<%# 公開／非公開 %>
<%# @category = 'all' if @category.blank? %>
<span class="mode"><%= link_to '公開', { :action => "list", :category => @category, :option => "public" } %> | <%= link_to '非公開', { :action => "list", :id => @category, :option => "private" } %> | <%= link_to 'リセット', { :action => "list", :id => @category, :option => "reset" } %></span><br />

<%# メモ リスト %>
<table class="table_style">
  <tr>
    <th colspan="2">カテゴリ</th>
    <th>タイトル</th>
    <th>モード</th>
  </tr>

<% @all_memos.each do |memo| %>
  <tr>
    <%# カテゴリ %>
    <td>[<%= link_to memo.category, { :action => "list", :category => memo.category } %>]</td>
    
    <%# サブカテゴリ %>
    <td><% unless memo.sub_category.blank? %>[<%=h memo.sub_category %>]<% end %></td>

    <%# タイトル %>
    <td><%=h memo.title %></td>

    <%# モード %>
    <td><%=h $mode_hash[memo.mode.to_s] %></td>

    <%# リンク %>
    <td class="menu show"><%= link_to $link_name[:show], { :action => "show", :id => memo.id,:page => params[:page], :category => @category, :sub_category => @sub_category, :search_flag => params[:search_flag], :search_word => params[:search_word], :search_type => params[:search_type] }, :title => memo.note %></td>
    <td class="menu edit"><%= link_to $link_name[:edit], { :action => "edit", :id => memo.id,:page => params[:page], :category => @category, :sub_category => @sub_category, :search_flag => params[:search_flag], :search_word => params[:search_word], :search_type => params[:search_type] } %></td>
    <td class="menu delete"><%= link_to $link_name[:delete], { :action => "destroy", :id => memo.id,:page => params[:page], :category => @category, :sub_category => @sub_category, :search_flag => params[:search_flag], :search_word => params[:search_word], :search_type => params[:search_type] }, :confirm => "「#{memo.title}」を本当に削除してよろしいですか？" %></td>
  </tr>
<% end %>
</table>

<br />

<%# NEW %>
<span class="menu new"><%= link_to $link_name[:new], { :action => "new", :category => @category, :sub_category => @sub_category } %></span>
