
<%# リンク %>
<span class="menu list"><%= link_to $link_name[:list], { :action => "list", :category => @category, :sub_category => @sub_category } %></span><br />

<br />
Now:<%= @memo_count %>／Max:<%= $memo_full %><br />
<br />

<% if @memo_count >= $memo_full and session[:level] == "user" %>
  Sorry, Memo is full.<br />
<% else %>
  <%# 新規作成 %>
  <% form_for :memo, :url => { :action => "create", :category => @category, :sub_category => @sub_category } do |f| %>
    <%= f.error_messages %>
  
    <%# カテゴリ %>
    <%= f.label :category, 'カテゴリ' %><br />
    <div class="radius_border">
    <table>
      <tr>
        <td>
          <% @categorys.each_with_index{ |category, index| %>
            <%= 
              link_to_remote(
                category[:category],
                :update => "memo_category_set",
                :url => { :action => :memo_category, :category => category[:category] },
                :loaded => visual_effect( :highlight, "memo_category_set", :startcolor => $base_color, :restorecolor=>"#ffffff", :duration => 0.5 )
              )
            -%>　<wbr />
          <% } %><br />
        </td>
      </tr>
    </table>
    </div>
  
    <br />
    <br />
  
    <div id="memo_category_set"><%= f.text_field :category, :value => @category %></div><br />
    
    <br />
  
    <%# サブカテゴリ %>
    <%= f.label :sub_category, 'サブカテゴリ' %><br />
    <div class="radius_border">
    <table>
      <tr>
        <td>
          <%# サブカテゴリリスト %>
          <% @sub_categorys.each_with_index{ |sub_category, index| %>
            <%=
              link_to_remote(
                sub_category[:sub_category],
                :update => "memo_sub_category_set",
                :url => { :action => :memo_sub_category, :sub_category => sub_category[:sub_category] },
                :loaded => visual_effect( :highlight, "memo_sub_category_set", :startcolor => $base_color, :restorecolor=>"#ffffff", :duration => 0.5 )
              )
            -%>　<wbr />
          <% } %><br />
        </td>
      </tr>
    </table>
    </div>
    
    <br />
    <br />
    
    <div id="memo_sub_category_set"><%= f.text_field :sub_category, :value => @sub_category %></div><br />
    
    <br />
  
    <%# モード %>
    <%= f.label :mode, 'モード' %>：<br />
    <%= f.radio_button :mode, "public", :checked => Memo.mode_public?( @memo.mode ) %><label for="memo_mode_public">公開</label>
    <%= f.radio_button :mode, "private", :checked => Memo.mode_private?( @memo.mode ) %><label for="memo_mode_private">非公開</label>
    <br />
  
    <br />
  
    <%# タイトル %>
    <%= f.label :title, 'タイトル' %><br />
    <%= f.text_field :title, :class => "memo_title_field" %><br />
    
    <br />
  
  <% if false %>
    <%# レベル %>
    <%= f.label :level, 'レベル' %>：
    <select name="memo[level]">
      <option value="Normal">Normal</option>
      <option value="Expert">Expert</option>
    </select><br />
    
    <br />
  <% end %>
  
    <%# テキスト %>
    <%= f.label :note, 'テキスト' %><br />
    <%= f.text_area :note %><br />
    
    <br />
  
    <%# 作成ボタン %>
    <%= f.submit '作成', :disable_with => "作成中..." %><br />
  <% end %>
<% end %>

<br />

<%# リンク %>
<span class="menu list"><%= link_to $link_name[:list], { :action => "list", :category => @category, :sub_category => @sub_category } %></span>
