
<span class="menu list"><%= link_to $link[:list], { :action => "list", :id => @category } %></span><br />

<br />

<% form_for :memo, :url => { :action => "create", :id => @category } do |f| %>
  <%= f.error_messages %>

  <%= f.label :category, 'カテゴリ' %><br />
	<div class="radius_border">
	<table><tr><td>
		<% @categorys.each_with_index{ |category, index| %><%= link_to_remote( category[:category], :update => "memo_category_set", :url => { :action => :memo_category, :category => category[:category] } ) %>　<wbr /><% } %><br />
	</td></tr></table>
	</div>
  <br />
  <br />
  <span id="memo_category_set"><%= f.text_field :category, :value => @category %></span><br />
  
  <br />

  <%= f.label :title, 'タイトル' %><br />
  <%= f.text_field :title, :class => "memo_title_field" %><br />
  
  <br />

  <%= f.label :mode, 'モード' %>：<br />
  <%= f.radio_button :mode, "public", :checked => Memo.mode_public?( @memo.mode ) %><label for="memo_mode_public">公開</label>
  <%= f.radio_button :mode, "private", :checked => Memo.mode_private?( @memo.mode ) %><label for="memo_mode_private">非公開</label>
	<br />

  <br />

<% if false %>
  <%= f.label :level, 'レベル' %>：
  <select name="memo[level]">
    <option value="Normal">Normal</option>
    <option value="Expert">Expert</option>
  </select><br />
  
  <br />
<% end %>

  <%= f.label :note, 'テキスト' %><br />
  <%= f.text_area :note %><br />
  
  <br />

  <%= f.submit '作成', :disable_with => "作成中..." %><br />
<% end %>

<br />

<span class="menu list"><%= link_to $link[:list], { :action => "list", :id => @category } %></span>
