<%# メニュー %>
<span class="menu list"><%= link_to $link[:list], "/memos/list/#{@category}" %></span>
　<span class="menu edit"><%= link_to $link[:edit], "/memos/edit/#{@memo.id}/#{@category}" %></span>
　<span class="menu delete"><%= link_to $link[:delete], "/memos/destroy/#{@memo.id}/#{@category}", :confirm => "「#{@memo.title}」を本当に削除してよろしいですか？" %></span><br />

<br />

<%# メモタイトル %>
<span class="menu_title">[<%=h @memo.category %>]：<%=h @memo.title %></span><br />

<%# メモテキスト %>
<pre class="pre_style"><%=h @memo.note %></pre>

<%# メニュー %>
<span class="menu list"><%= link_to $link[:list], "/memos/list/#{@category}" %></span>
　<span class="menu edit"><%= link_to $link[:edit], "/memos/edit/#{@memo.id}/#{@category}" %></span>
　<span class="menu delete"><%= link_to $link[:delete], "/memos/destroy/#{@memo.id}/#{@category}", :confirm => "「#{@memo.title}」を本当に削除してよろしいですか？" %></span>
