<span id="menu_title">[<%=h @memo.category %>] <%=h @memo.title %></span><br />

<br />

<%= link_to '編集', "/memos/edit/#{@memo.id}/#{@category}" %>
 | <%= link_to '一覧', "/memos/index/#{@category}" %>

<pre><%=h @memo.note %></pre>

<%= link_to '編集', "/memos/edit/#{@memo.id}/#{@category}" %>
 | <%= link_to '一覧', "/memos/index/#{@category}" %>
