<%# メニュー %>
<span class="menu list"><%= link_to $link[:list], { :action => "list", :id => @category } %></span>
<% unless @memo.blank? %>
　<span class="menu edit"><%= link_to $link[:edit], { :action => "edit", :id => @memo.id, :option => @category } %></span>
　<span class="menu delete"><%= link_to $link[:delete], { :action => "destroy", :id => @memo.id, :option => @category }, :confirm => "「#{@memo.title}」を本当に削除してよろしいですか？" %></span><br />

<br />

<%# メモタイトル %>
<span class="menu_title">[<%=h @memo.category %>]：<%=h @memo.title %></span><br />

<%# メモテキスト %>
<pre class="pre_style"><%=h @memo.note %></pre>

<%# メニュー %>
<span class="menu list"><%= link_to $link[:list], { :action => "list", :id => @category } %></span>
　<span class="menu edit"><%= link_to $link[:edit], { :action => "edit", :id => @memo.id, :option => @category } %></span>
　<span class="menu delete"><%= link_to $link[:delete], { :action => "destroy", :id => @memo.id, :option => @category }, :confirm => "「#{@memo.title}」を本当に削除してよろしいですか？" %></span><br />
<% end %>
