<%# リンク %>
<span class="menu list"><%= link_to $link_name[:list], { :action => "list",:page => params[:page], :category => @category, :sub_category => @sub_category, :search_flag => params[:search_flag], :search_word => params[:search_word], :search_type => params[:search_type] } %></span>

<% unless @memo.blank? %>
<span class="menu edit"><%= link_to $link_name[:edit], { :action => "edit", :id => @memo.id,:page => params[:page], :category => @category, :sub_category => @sub_category, :search_flag => params[:search_flag], :search_word => params[:search_word], :search_type => params[:search_type] } %></span>
<span class="menu delete"><%= link_to $link_name[:delete], { :action => "destroy", :id => @memo.id,:page => params[:page], :category => @category, :sub_category => @sub_category, :search_flag => params[:search_flag], :search_word => params[:search_word], :search_type => params[:search_type] }, :confirm => "「#{@memo.title}」を本当に削除してよろしいですか？" %></span><br />

<br />

<%# メモ カテゴリ／サブカテゴリ／タイトル %>
<span class="menu_title">[<%=h @memo.category %>]<% unless @memo.sub_category.blank? %>[<%=h @memo.sub_category %>]<% end %>：<%=h @memo.title %></span><br />

<%# メモ テキスト %>
<pre class="pre_style"><%=h @memo.note %></pre>

<%# リンク %>
<span class="menu list"><%= link_to $link_name[:list], { :action => "list",:page => params[:page], :category => @category, :sub_category => @sub_category, :search_flag => params[:search_flag], :search_word => params[:search_word], :search_type => params[:search_type] } %></span>
<span class="menu edit"><%= link_to $link_name[:edit], { :action => "edit", :id => @memo.id,:page => params[:page], :category => @category, :sub_category => @sub_category, :search_flag => params[:search_flag], :search_word => params[:search_word], :search_type => params[:search_type] } %></span>
<span class="menu delete"><%= link_to $link_name[:delete], { :action => "destroy", :id => @memo.id,:page => params[:page], :category => @category, :sub_category => @sub_category, :search_flag => params[:search_flag], :search_word => params[:search_word], :search_type => params[:search_type] }, :confirm => "「#{@memo.title}」を本当に削除してよろしいですか？" %></span><br />
<% end %>
