<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Aries</title>
  <%# JavaScript %>
  <%= javascript_include_tag "prototype" %>

  <%# スタイルシート %>
  <%= stylesheet_link_tag 'base' %>
  <%= stylesheet_link_tag 'will_paginate' %>

	<%# アクセス解析 %>
	<%= render :partial => "/layouts/access_analyze" %>
</head>

<body>

<br />

<div class="page_box">

<%# ヘッダメニュー %>
<span class="header_menu">
	<% if session[:user_id].blank? %>
  	<%# ログイン前 %>
    <%= link_to "Public", "/public/list" %>　<%= link_to "Entry", "/users/entry" %>　<% form_tag :controller => "users", :action => "login" do %>ID:<input type="text" name="login[login_id]" size="15" /> PASS:<input type="password" name="login[password]" size="7" /><input type="hidden" name="request_url" value="<%= request.url %>" /> <%= submit_tag "ログイン", :disable_with => "ログイン" %><% end %>
	<% else %>
    <%# ログイン後 %>
    <%= session[:login_id] %>：<%= link_to "Public", "/public/list" %>　<%= link_to "Memo", "/memos/list" %>　<%= link_to "Profile", "/users/show/#{session[:user_id]}" %>　<% form_tag "/users/logout", :method => "put" do %><input type="hidden" name="request_url" value="<%= request.url %>" /><%= submit_tag "ログアウト", :disable_with => "ログアウト" %><% end %>
  <% end %>
</span>

<%# タイトル %>
<center>
  <% if session[:user_id].blank? %>
    <%# ログイン前 %>
    <span id="title"><%= link_to "Aries", "/public/list" %></span>
  <% else %>
    <%# ログイン後 %>
    <span id="title"><%= link_to "Aries", "/memos/list/all/reset" %></span>
  <% end %>
</center>

<br /><br />

<%# 通知メッセージ %>
<% unless flash[:notice].blank? %><p style="color: green"><%= flash[:notice] %></p><% end %>

<%# ページ内容 %>
<%= yield %><br />

<br />

<%# アドセンス %>
<%= render :partial => "/layouts/adsense" %><br />

<br />

</div>

<br />
<br />

</body>

</html>
